.container {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
    margin-left: 150px;
  }
  
  .inputContainer {
    position: relative;
  }
  
  .inputField {
    width: calc(100% + 90px);
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    border-width: var(--border-width);
  }
  
  .sendIcon {
    position: absolute;
    top: 50%;
    right: -70px;
    transform: translateY(-50%);
    cursor: pointer;
  }